html,
body {
	height: 100%;
	font-family: Great Vibes;
}

img {
	max-width: 100%
	max-height: 100%;

}

p {
	font-size: 18px;
}
/*
.center {
	margin: auto;
	width: 50%;

}*/

/*cover */


.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.container {
	width: 100%;
	.center-block();

}
#cover {
	background: white url('http://placehold.it/350x150') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;

}

#cover-caption {
	width: 100%;
}

.section-content {
	padding: 5rem 0;


}


.navbar {
	margin-bottom: 0;
}

#nav-main.affix {
		position: fixed;
		top: 0;
		padding-bottom: 0px;
		width: 100%;
	
}


#nav-main {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}



.navbar-nav > li {
	padding-left:20px;
	padding-right:20px;
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
}

.navbar-nav > li:hover a {
	color:red;
}

.navbar-nav > li > a {
	font-family: Poiret One;
	font-weight: bold;
	font-size: 18px;
	color: black;

}

.glyphicon {
	font-size: 30px;
	color: white;
}

#rsvp {
	background: white center center no-repeat;
	background-size: cover;



}
.rsvp-form {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 1.875rem;

}


#schedule {
	background: url('images/greenbuilding.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;

}

.schedule-text {
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	padding: 1.875rem;

}


#stay {
	background: url('images/Carroll1.jpg') center center no-repeat;
	background-size: cover;
	align-items: center;
	height: 100%;
}

.stay-text {
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	padding: 1.875rem;

}

#registry {
	background: url('images/colombia.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;


}

.registry-text {
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	padding: 1.875rem;

}

#party {
	background: white center center no-repeat;
	background-size: cover;
	align-items: center;
	height: 100%;


}

.party-text {
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	padding: 1.875rem;

}


/*.navbar .nav > li > a:hover 
	{
		color: #5017E8;
	}

.navbar .nav > li > a:active  
	{
		color: #5017E8;
	}
*/
