html,
body {
	height: 100%;
	font-family: Great Vibes;
}

img {
	max-width: 100%

}

a {
	font-family: Poiret One;


}


/*cover */

#cover {
	background: #222 url('images/header.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;

}

#cover-caption {
	width: 100%;
}

#nav-main.affix {
		position: fixed;
		top: 0;
		width: 100%;
	
}


#nav-main {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}


.navbar-nav > li {
	padding-left:30px;
	padding-right:30px;

}

.glyphicon {
	font-size: 30px;
	color: white;
}

.navbar .nav > li > a:hover 
	{
		color: #5017E8;
	}

.navbar .nav > li > a:active  
	{
		color: #5017E8;
	}

